body{
  display: flex;
  justify-content: center;
  width: 90dvw;
  height: 90dvh;
}
.auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  border-style: outset;
  border-radius: 3px;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.home{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.new{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}